<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password zurücksetzten </title>
</head>
<body>
<h3>Bitte neue Password eingeben.</h3>
<form action="#" method="POST" th:action="@{/auth/resetpassword }" th:object="${userDto}">

    <input th:field="${userDto.email}" th:id="emailId" type="text">

    <input placeholder="password" th:field="${userDto.password}" th:id="passwordID" type="password">

    <button type="submit">Save</button>
</form>
</body>
</html>